<h1>Listing ces</h1>
<% if user_signed_in? %>
  <%= link_to 'New Ce', new_ce_path %>
<% end %>
<div id="ces" class="transitions-enabled">
<% @ces.each do |ce| %>
  <div id="box" class="box panel panel-default">
      <% if ce.user == current_user %>
        <%= image_tag ce.cert.url(:thumb) %>
          <div class="panel-body">
            <%= ce.title %>
            <%= ce.user.email %>
            <%= ce.hours %>
            <%= link_to 'Show', ce %>
            <%= link_to 'Edit', edit_ce_path(ce) %>
            <%= link_to 'Destroy', ce, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>


