<p>
  <strong>Title:</strong>
  <%= @ce.title %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @ce.hours %>
</p>

<p>
  <strong>Certificate (Preview)</strong>
</p>
<p>
  <%= image_tag @ce.cert.url(:large) %>
</p>

<% if @ce.user == current_user %>
  <%= link_to 'Edit', edit_ce_path(@ce) %> |
<% end %>
  <%= link_to 'Back', ces_path %>
