<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ce.title %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @ce.hours %>
</p>

<%= link_to 'Edit', edit_ce_path(@ce) %> |
<%= link_to 'Back', ces_path %>
